* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

.bg-image {
    position: absolute;
    left: 0vw;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -10;
}

.bg-project {
    width: 75%;
}

#landing {
    top: 0vh;
}

#profile {
    top: 100vh;
}

#projects {
    top: 200vh
}

#contact {
    top: 300vh;
}

.bg-content {
    float: left;
    padding-top: 15vh
}

.my-photo {
    height: 300px;
    width: 300px;
}

.front-bg {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    height: 100vh;
    width: auto;
}


.me-name {
    font-family: 'Coustard', serif;
    font-size: 40px;
/*    color: #86A3B8;*/
}

hr {
    border: 1px solid #86A3B8;
}

.job-title {
    font-family: 'Water Brush', cursive;
/*  font-family: 'Coustard', serif;*/
    font-size: 30px;
    color: #E8D2A6;
}

.personal-desc {
    font-family: 'Overpass', sans-serif;
    color: #E8D2A6;
}

.prof-content {
    float: left;
    padding-top: 15vh
}

.who-me {
    font-family: 'Coustard', serif;
    color: #E8D2A6;
}



.bg-profile {
    position: absolute;
    height: 950px;
    width: 100%;
    object-fit: cover;
}




.proj-current {
   font-family: 'Coustard', serif;
    padding-bottom: 10px;
    text-align: center;
}

.bg-more-about-me {
    width: 100vw;
    margin: 0px;
}

.scroll-click {
    font-family: 'Overpass', sans-serif;
    font-size: 24px;
    color: #E8D2A6;
    padding-top: 10px;
    text-align: center;

}

.zindex-2 {
    z-index: 3;
}

.bg-contact {
    /*width:auto;*/
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contact-how {
    padding-top: 20px;
    padding-bottom: 20px;
}


.form-contact {
    background-color: #2d2728;
    position: center;
    border-style: dashed ;
    border-width: 5px;
    border-color: #ea9e16;
    border-radius: 45px;
    margin: auto;
}

.btn-color {
    background-color: #ea9e16;
}


.bg-foot { 
    background-color: #333333;  
    margin: 0px;
    width:100%;
    height: 60px;
    align-items: center ;
}

.footer-position {
    position: absolute;
    color: white;
    background-color: black;
    top: 400vh;
    bottom: 0px;
    height: 40px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}